<footer class="page-footer font-small bg-dark pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga os pais da Madah nas redes sociais:</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="social-network">
          <li>
            <p class="papai text-center"><b>Papai:</b></p>
            <a href="https://www.linkedin.com/in/fernando-caruso-536715107/" target="_blank" class="iconLinkedin">
              <i class="fa fa-linkedin-square" arial-hidden="true"></i>
            </a>
            <li>
              <a href="https://github.com/fernandocaruso" target="_blank" class="iconGitHub">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
            <li>
            <p class="mamae text-center"><b>Mamãe:</b></p>
            <a href="https://www.linkedin.com/in/poliannacastro/" target="_blank" class="iconLinkedin">
              <i class="fa fa-linkedin-square" arial-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/psi.polianna/" target="_blank" class="iconInstagram">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="footer-copyright bg-secondary text-center py-3">
    <span class="text-light">© 2021 Copyright: Dedicado à Madalena Odara de Castro Caruso</span>
  </div>
</footer>
